<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <meta name="Description" content="{{ title }}" />
    <title>{{ title }}</title>
    <link
      href="https://fonts.googleapis.com/css?family=IBM+Plex+Sans:300,400&display=swap"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="../../styles/common.css" />
    <link rel="stylesheet" href="../../styles/homepage.css" />
    <link rel="stylesheet" href="../../styles/prism-theme.css"/>
    <link rel="icon" href="https://emojipedia-us.s3.dualstack.us-west-1.amazonaws.com/thumbs/120/google/241/woman-technologist-light-skin-tone_1f469-1f3fb-200d-1f4bb.png">

  </head>
  <body>
    <div class="container post-container">
        <br>
        <div class="back-link">
          <a href="/" aria-label="go back to home page">← home page</a>
        </div>
        <h1>{{ title }}</h1>
     
      <div class='content'>{{ content }}</div>
 
    </div>
    <footer>rachel wang © 2020 | Made with ❤️ & <a href="https://www.11ty.dev/">11ty</a> | Template by <a href="https://github.com/arpitbatra123/eleventy-blog-mnml">@arpitbatra123</a></footer>
  </body>
</html>
