
$bg-color: #E1F2F7;
$text-color:#394655;
$highlighted-color: #E5BACE;
$anchor-text-color: #EF0D50;

::selection {
  color: white;
  background-color: $highlighted-color;
}

::-moz-selection {
  color: white;
  background-color: $highlighted-color;
}

* {
  margin: 0;
  padding: 0;
}

body {
  font-family: "IBM Plex Sans", sans-serif;
  color: $text-color;
  background: $bg-color;
}

.container {
  margin: 40px 32%;
  blockquote {
    margin: 16px 0;
    padding: 0 1em;
    color: brown;
    border-left: 0.25em solid;
  }
}

a {
  text-decoration: none;
  color: $anchor-text-color;

  &:hover {
    cursor: pointer;
    text-decoration: underline;
  }
}

@media (min-width: 320px) and (max-width: 767px) {
  .container {
    margin: 32px 14%;
  }
}
